<div>
    <div class="counter-section">
        <div class="container">
            <p>Since our inception in 2015, we’ve been fusing advanced technology and financial data <br/> know-how to empower our clients worldwide to achieve business success.</p>
            <div class="row mt-5">
                <div class="col-md-3 col-sm-12">
                    <div class="counter-card">
                        <p class="green">Subcribed by</p>
                        <div class="divider"></div>
                        <h2>550+</h2>
                        <p>INSTITUTION</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="counter-card">
                        <p class="green">Including</p>
                        <div class="divider"></div>
                        <h2>200+</h2>
                        <p>DATASETS</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="counter-card">
                        <p class="green">Data total</p>
                        <div class="divider"></div>
                        <h2>3,000+</h2>
                        <p>TERABYTES</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="counter-card">
                        <p class="green">Total live-trading AUM</p>
                        <div class="divider"></div>
                        <h2>$350+</h2>
                        <p>BILLION</p>
                    </div>
                </div>
            </div>
        </div>
      </div> 
</div>
