<div>
  <swiper-container 
  [slidesPerView]="1"
  [loop]="true"
  autoplay="true"
  autoplay-delay="2000"
  [speed]="2000">
    <swiper-slide>
      <div class="center-body">
        <h5>Coding is logical, data is empirical.</h5>
        <h1>Enjoy coding, <br/>Leave data to <span class="green"> algoseek.</span></h1>
        <p>Financial data, technology and services.</p>
      </div> 
    </swiper-slide>
    <swiper-slide>
      <div class="center-body">
        <h5>Trading is exciting, data is grinding.</h5>
        <h1>Enjoy coding, <br/>Leave data to <span class="green"> algoseek.</span></h1>
        <p>Financial data, technology and services.</p>
      </div> 
    </swiper-slide>
    <swiper-slide>
      <div class="center-body">
        <h5>Math is neat, data is messy.</h5>
        <h1>Enjoy coding, <br/>Leave data to <span class="green"> algoseek.</span></h1>
        <p>Financial data, technology and services.</p>
      </div> 
    </swiper-slide>
    <swiper-slide>
      <div class="center-body">
        <h5>Coding is logical, data is empirical.</h5>
        <h1>Enjoy coding, <br/>Leave data to <span class="green"> algoseek.</span></h1>
        <p>Financial data, technology and services.</p>
      </div> 
    </swiper-slide>
  </swiper-container>
    
</div>